
<%= link_to "Return to Topics", topics_path %>

<div class="row topic_div">

  <%= image_tag "y.gif" %>
  <span class="pagetop">
  <strong>Hacker News </strong> |
    <a href="#">new</a>  |
    <a href="#">comments</a>  |
    <a href="#">show</a>  |
    <a href="#">ask</a>  |
    <a href="#">jobs</a>  |
    <a href="#">submit</a>
  </span>
</div>


<!-- <p>Topic: <%= @topic.subject %> </p> -->
<div class="topic">
  <% count = 1 %>
  <% @topic.posts.each do |post| %>
    <a class="link_black" href="http://www.<%= post.url%>"> <span class="subtext2"> <%= count %>.</span> <%= post.title %></a>
    <p class="subtext subtextEnd"><a class="subtext" href="/posts/<%= post.id %>"> <%= post.comments.count %> comments</a> <%= post.since.floor %> minutes</p>
    <% count = count + 1 %>
  <% end %>
</div>



<%= render "posts/form" %>
